workflows/My workflow.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-04T10:23:01.524Z",
  "id": "GEq1EJb1692XPxen",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/funnels/funnel/clone-funnel-step",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "services.leadconnectorhq.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "channel",
              "value": "APP"
            },
            {
              "name": "origin",
              "value": "https://app.leadbuilt.com"
            },
            {
              "name": "referer",
              "value": "https://app.leadbuilt.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not/A)Brand\";v=\"99\", \"Google Chrome\";v=\"115\", \"Chromium\";v=\"115\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "source",
              "value": "WEB_USER"
            },
            {
              "name": "token-id",
              "value": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjYyM2YzNmM4MTZlZTNkZWQ2YzU0NTkyZTM4ZGFlZjcyZjE1YTBmMTMiLCJ0eXAiOiJKV1QifQ.eyJ1c2VyX2lkIjoiRWhLeXFaU1JoTTBvc3BtTEdkNFIiLCJjb21wYW55X2lkIjoicnRIU3I3OVdrVm1EcWJBejRKaUIiLCJyb2xlIjoiYWRtaW4iLCJ0eXBlIjoiYWdlbmN5IiwibG9jYXRpb25zIjpbInZCN0xBcmFCeHZZOTc2NzcxU29xIiwicGJjZ0pjTE4zekNEQ3FqaHlDY1IiLCJyRmZRWFRFUzdDYnEzREllOVl3USIsImVOV2ZLWGE3ZjBmUTlTYnJnZ3RtIiwiU0V1czV3UVV6cHJOY1FFNHU3M1kiXSwidmVyc2lvbiI6MiwicGVybWlzc2lvbnMiOnsid29ya2Zsb3dzX2VuYWJsZWQiOnRydWUsIndvcmtmbG93c19yZWFkX29ubHkiOmZhbHNlfSwiaXNzIjoiaHR0cHM6Ly9zZWN1cmV0b2tlbi5nb29nbGUuY29tL2hpZ2hsZXZlbC1iYWNrZW5kIiwiYXVkIjoiaGlnaGxldmVsLWJhY2tlbmQiLCJhdXRoX3RpbWUiOjE2OTExNDEzODUsInN1YiI6IkVoS3lxWlNSaE0wb3NwbUxHZDRSIiwiaWF0IjoxNjkxMTQ4NTEwLCJleHAiOjE2OTExNTIxMTAsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnt9LCJzaWduX2luX3Byb3ZpZGVyIjoiY3VzdG9tIn19.abNkWcgz8FRwtElUz1YXtNlwOTozJ7QQ7MdBiD6e6QyM229j2yy5ypf6y7kMkASn7cUvnQwJWWAkjVQy4UiwoG7uMwvEXAMvZAsWtWmQ2bRYj75fv8W3CatU37XkHhTYSckSd4pdEU2jHgiZt90Jk2mzUR6qFj9L_a9_uV7tbCR4rl2nuN1pfr1Q966ojTvoYo_jt9jvCSSga9whmuZBa-YK8ztujnBto3LJy8EeNwyWSJ9D8uER4ASARkqMnMesgYNBqME78EgW3yaIA6T2r8NNQu4hltmSP6L-T3W7r8n2zKzLw1JLSUDACH9vyRO2pKcOH7XZF1dlUv2YLxCemQ"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"
            },
            {
              "name": "version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json;charset=UTF-8",
        "body": "{\"stepId\":\"b2eab7ae-4548-466e-89f5-faabd7eded69\",\"funnelId\":\"DiNypMWUGXz8WmiwuPt4\",\"funnels\":[\"DiNypMWUGXz8WmiwuPt4\"],\"locationId\":\"eNWfKXa7f0fQ9Sbrggtm\",\"userId\":\"EhKyqZSRhM0ospmLGd4R\"}",
        "options": {}
      },
      "id": "6169643e-6478-4579-8e37-6247bee5dbd5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2020,
        540
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/funnels/funnel/DiNypMWUGXz8WmiwuPt4/step/{{ $json.data.stepIds[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "services.leadconnectorhq.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "channel",
              "value": "APP"
            },
            {
              "name": "origin",
              "value": "https://app.leadbuilt.com"
            },
            {
              "name": "referer",
              "value": "https://app.leadbuilt.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not/A)Brand\";v=\"99\", \"Google Chrome\";v=\"115\", \"Chromium\";v=\"115\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "source",
              "value": "WEB_USER"
            },
            {
              "name": "token-id",
              "value": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjYyM2YzNmM4MTZlZTNkZWQ2YzU0NTkyZTM4ZGFlZjcyZjE1YTBmMTMiLCJ0eXAiOiJKV1QifQ.eyJ1c2VyX2lkIjoiRWhLeXFaU1JoTTBvc3BtTEdkNFIiLCJjb21wYW55X2lkIjoicnRIU3I3OVdrVm1EcWJBejRKaUIiLCJyb2xlIjoiYWRtaW4iLCJ0eXBlIjoiYWdlbmN5IiwibG9jYXRpb25zIjpbInZCN0xBcmFCeHZZOTc2NzcxU29xIiwicGJjZ0pjTE4zekNEQ3FqaHlDY1IiLCJyRmZRWFRFUzdDYnEzREllOVl3USIsImVOV2ZLWGE3ZjBmUTlTYnJnZ3RtIiwiU0V1czV3UVV6cHJOY1FFNHU3M1kiXSwidmVyc2lvbiI6MiwicGVybWlzc2lvbnMiOnsid29ya2Zsb3dzX2VuYWJsZWQiOnRydWUsIndvcmtmbG93c19yZWFkX29ubHkiOmZhbHNlfSwiaXNzIjoiaHR0cHM6Ly9zZWN1cmV0b2tlbi5nb29nbGUuY29tL2hpZ2hsZXZlbC1iYWNrZW5kIiwiYXVkIjoiaGlnaGxldmVsLWJhY2tlbmQiLCJhdXRoX3RpbWUiOjE2OTExNDEzODUsInN1YiI6IkVoS3lxWlNSaE0wb3NwbUxHZDRSIiwiaWF0IjoxNjkxMTQ4NTEwLCJleHAiOjE2OTExNTIxMTAsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnt9LCJzaWduX2luX3Byb3ZpZGVyIjoiY3VzdG9tIn19.abNkWcgz8FRwtElUz1YXtNlwOTozJ7QQ7MdBiD6e6QyM229j2yy5ypf6y7kMkASn7cUvnQwJWWAkjVQy4UiwoG7uMwvEXAMvZAsWtWmQ2bRYj75fv8W3CatU37XkHhTYSckSd4pdEU2jHgiZt90Jk2mzUR6qFj9L_a9_uV7tbCR4rl2nuN1pfr1Q966ojTvoYo_jt9jvCSSga9whmuZBa-YK8ztujnBto3LJy8EeNwyWSJ9D8uER4ASARkqMnMesgYNBqME78EgW3yaIA6T2r8NNQu4hltmSP6L-T3W7r8n2zKzLw1JLSUDACH9vyRO2pKcOH7XZF1dlUv2YLxCemQ"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"
            },
            {
              "name": "version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "e5aa10a9-6245-45b4-8907-f4273950f832",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e5b065f5-90b8-4cfb-976f-44b0a12a14a5",
        "options": {}
      },
      "id": "779f407c-3210-4001-a1ec-ca5a73b884c1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1800,
        540
      ],
      "webhookId": "e5b065f5-90b8-4cfb-976f-44b0a12a14a5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/funnels/order-form/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "www.google-analytics.com"
            },
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "access-control-request-headers",
              "value": "cache-control,channel,content-type,pragma,source,token-id,version"
            },
            {
              "name": "access-control-request-method",
              "value": "GET"
            },
            {
              "name": "origin",
              "value": "https://app.leadbuilt.com"
            },
            {
              "name": "referer",
              "value": "https://app.leadbuilt.com/"
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "no-cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"
            },
            {
              "name": "channel",
              "value": "APP"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not/A)Brand\";v=\"99\", \"Google Chrome\";v=\"115\", \"Chromium\";v=\"115\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "source",
              "value": "WEB_USER"
            },
            {
              "name": "token-id",
              "value": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjYyM2YzNmM4MTZlZTNkZWQ2YzU0NTkyZTM4ZGFlZjcyZjE1YTBmMTMiLCJ0eXAiOiJKV1QifQ.eyJ1c2VyX2lkIjoiRWhLeXFaU1JoTTBvc3BtTEdkNFIiLCJjb21wYW55X2lkIjoicnRIU3I3OVdrVm1EcWJBejRKaUIiLCJyb2xlIjoiYWRtaW4iLCJ0eXBlIjoiYWdlbmN5IiwibG9jYXRpb25zIjpbInZCN0xBcmFCeHZZOTc2NzcxU29xIiwicGJjZ0pjTE4zekNEQ3FqaHlDY1IiLCJyRmZRWFRFUzdDYnEzREllOVl3USIsImVOV2ZLWGE3ZjBmUTlTYnJnZ3RtIiwiU0V1czV3UVV6cHJOY1FFNHU3M1kiXSwidmVyc2lvbiI6MiwicGVybWlzc2lvbnMiOnsid29ya2Zsb3dzX2VuYWJsZWQiOnRydWUsIndvcmtmbG93c19yZWFkX29ubHkiOmZhbHNlfSwiaXNzIjoiaHR0cHM6Ly9zZWN1cmV0b2tlbi5nb29nbGUuY29tL2hpZ2hsZXZlbC1iYWNrZW5kIiwiYXVkIjoiaGlnaGxldmVsLWJhY2tlbmQiLCJhdXRoX3RpbWUiOjE2OTExNDEzODUsInN1YiI6IkVoS3lxWlNSaE0wb3NwbUxHZDRSIiwiaWF0IjoxNjkxMTQ4NTEwLCJleHAiOjE2OTExNTIxMTAsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnt9LCJzaWduX2luX3Byb3ZpZGVyIjoiY3VzdG9tIn19.abNkWcgz8FRwtElUz1YXtNlwOTozJ7QQ7MdBiD6e6QyM229j2yy5ypf6y7kMkASn7cUvnQwJWWAkjVQy4UiwoG7uMwvEXAMvZAsWtWmQ2bRYj75fv8W3CatU37XkHhTYSckSd4pdEU2jHgiZt90Jk2mzUR6qFj9L_a9_uV7tbCR4rl2nuN1pfr1Q966ojTvoYo_jt9jvCSSga9whmuZBa-YK8ztujnBto3LJy8EeNwyWSJ9D8uER4ASARkqMnMesgYNBqME78EgW3yaIA6T2r8NNQu4hltmSP6L-T3W7r8n2zKzLw1JLSUDACH9vyRO2pKcOH7XZF1dlUv2YLxCemQ"
            },
            {
              "name": "content-length",
              "value": "0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJodHRwczovL2lkZW50aXR5dG9vbGtpdC5nb29nbGVhcGlzLmNvbS9nb29nbGUuaWRlbnRpdHkuaWRlbnRpdHl0b29sa2l0LnYxLklkZW50aXR5VG9vbGtpdCIsImlhdCI6MTY5MTExODMwOCwiZXhwIjoxNjkxMTIxOTA4LCJpc3MiOiJkZWZhdWx0LWNybS1tYXJrZXRwbGFjZUBoaWdobGV2ZWwtYmFja2VuZC5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInN1YiI6ImRlZmF1bHQtY3JtLW1hcmtldHBsYWNlQGhpZ2hsZXZlbC1iYWNrZW5kLmlhbS5nc2VydmljZWFjY291bnQuY29tIiwidWlkIjoiRWhLeXFaU1JoTTBvc3BtTEdkNFIiLCJjbGFpbXMiOnsidXNlcl9pZCI6IkVoS3lxWlNSaE0wb3NwbUxHZDRSIiwiY29tcGFueV9pZCI6InJ0SFNyNzlXa1ZtRHFiQXo0SmlCIiwicm9sZSI6ImFkbWluIiwidHlwZSI6ImFnZW5jeSIsInZlcnNpb24iOjIsImxvY2F0aW9ucyI6W10sInBlcm1pc3Npb25zIjp7IndvcmtmbG93c19lbmFibGVkIjp0cnVlLCJ3b3JrZmxvd3NfcmVhZF9vbmx5IjpmYWxzZX19fQ.iqDS_xhL64EWLz9BLM_QAGpVdknYZZxo32-y4yhElE_h0R6gpTZHoRJb8K_rWCRp4YoJBbP66zi5KojK8IP5ziXxBSGgAUTfvrzq-MJ6mvbnIQvo3MTt7OxaV3fO43OYvuKjfaGHFcrdjelC4wjzKmawlznVLljxfRcTQEkQM0Di3p9jnTj8qInVCfGhU0HS12INsUGEpnJZgYYVDkLSxW4KQzufhX7Xl7iSxnUyTBEbpmNRUY13CPAjk8VnLRr2pU-GfeGVdj8eG-U-AmZDh0o7LYEYAB6kNRADUALR5u7u-xX5rWeoa62Q5vMv6_MDkgUqm9aSTO1yM3hgqVyrFA"
            },
            {
              "name": "if-none-match",
              "value": "W/\"40-Qc6Uii4k+mP/iA8FovIUWbCDVZM\""
            },
            {
              "name": "cookie",
              "value": "__Secure-3PSID=ZQhvyYGV0nih8biREEzszM-kf0hjLhC3wv_znPaJ_roGmIBfvXrxMvdAu7cCZnimdEGkXQ.; __Secure-3PAPISID=kHq9_5fR4VO5UCBk/Ake73b5_5X6-CNqnp; NID=511=b6d9rLhC0xzDE2bhem-luC3PGNBH-pNyNVRqOy0FLFoWPaa5aH-0co0vFY6N5jnSHBUENdCd_Sx1kBhNnDXChiIyJ8RD7KsHvovNGMQS-IUWDNOg9d8MVRFSu82seLSUuajC3QlPYw2c35SH9gomQUDVMJnfZxhH_tDM49d19rNwC_C9CQIRrz36MaZCCd7K4SfGb5NPYmXe8oHxJ-uwmIpNUHbu8yoNI-S4ubZYel5rrpjfOeqiMD57nz8ZbsvSwd_plZwMX_cyQ1yfksqdqXHqGq8MLjYj-4TzwIOUTcZqg7CCCiP3vK4KvilRr1Ngy8c; 1P_JAR=2023-08-04-10; __Secure-3PSIDCC=APoG2W__UtjNdUVW7C5CkZeCmZOBH4SWS7jyg6fRlrjBt5CQSs682khLcAG4TGH6k7zwdK3BBg"
            },
            {
              "name": "x-client-data",
              "value": "CJG2yQEIorbJAQipncoBCODZygEIlKHLAQiGoM0BCMPFzQEYwMvMAQ=="
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "pragma",
              "value": "no-cache"
            },
            {
              "name": "version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json;charset=UTF-8",
        "body": "={\"locationId\":\"eNWfKXa7f0fQ9Sbrggtm\",\"funnel\":\"DiNypMWUGXz8WmiwuPt4\",\"step\":\"{{ $json.data.id }}\",\"name\":\"Event Insurance Premium + Fees\",\"displayText\":\"\",\"product\":\"64ccab900a69dc11b17b6dac\",\"price\":\"{{ $('Webhook').item.json.body.tags }}\",\"bumpProduct\":false,\"quantity\":{\"max\":1,\"allowMultiple\":false},\"authorizeAmount\":0} ",
        "options": {}
      },
      "id": "1df17f8f-6a4e-49c3-94d9-6176b0bf4184",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2400,
        540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "135SwoZdWa_Y_NC9RcBYgLR7HxPZwWGQlc3oqXOaaotM",
          "mode": "list",
          "cachedResultName": "Sports Refund Products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/135SwoZdWa_Y_NC9RcBYgLR7HxPZwWGQlc3oqXOaaotM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/135SwoZdWa_Y_NC9RcBYgLR7HxPZwWGQlc3oqXOaaotM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tags": "={{ $('Webhook').item.json.body.tags }}",
            "First Name": "={{ $('Webhook').item.json.body.first_name }}",
            "Last Name": "={{ $('HTTP Request1').item.json.data.url }}"
          },
          "matchingColumns": [
            "Tags"
          ],
          "schema": [
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c1738c61-bb6b-4f1e-b5c3-55f14b32edfe",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2600,
        540
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E0d4HN1q38dEJfXE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-08-04T11:55:10.711Z",
  "versionId": "7fe7d950-9b82-4fb4-8ec4-caca2d75a979"
}