workflows/New Subscribers - myfigures.com.json
{
  "active": true,
  "connections": {
    "Google Cloud Firestore": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HighLevel2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HighLevel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Firestore1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only use if you need to manually add": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger1": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-12T19:40:47.653Z",
  "id": "eHDV3MbwejMAgarU",
  "name": "New Subscribers - myfigures.com",
  "nodes": [
    {
      "parameters": {
        "projectId": "my-figures-ee0e7",
        "collection": "=Users",
        "documentId": "={{ $json.data.object.client_reference_id }}"
      },
      "id": "7fd120e5-cb77-4751-bc28-314abc20d3c3",
      "name": "Google Cloud Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "dVkHYUPuEEgK0vFd",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mx_id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "34ba025d-17d3-479c-a631-374d909ef5f6",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1540,
        520
      ]
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "phone": "=",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": "ha2NiTdGPtCJA9LYKg1S",
                "fieldValue": "={{ $json._id }}"
              },
              {
                "fieldId": "KLYIG67bzZXyiahVCedv",
                "fieldValue": "={{ $json._mx_id }}"
              }
            ]
          },
          "name": "={{ $json.display_name }}"
        }
      },
      "id": "441560ec-4c23-4dcc-ac5c-653133cf11ab",
      "name": "HighLevel1",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1700,
        600
      ],
      "credentials": {
        "highLevelApi": {
          "id": "4FGnXZXTFlUO7X2z",
          "name": "My Figures"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "phone": "=",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": "ha2NiTdGPtCJA9LYKg1S",
                "fieldValue": "={{ $json._id }}"
              }
            ]
          },
          "name": "={{ $json.display_name }}",
          "tags": "add mx id"
        }
      },
      "id": "88ca1075-8ad4-4c5e-9b2f-2bd6cfdd1808",
      "name": "HighLevel2",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1700,
        440
      ],
      "credentials": {
        "highLevelApi": {
          "id": "4FGnXZXTFlUO7X2z",
          "name": "My Figures"
        }
      }
    },
    {
      "parameters": {
        "projectId": "my-figures-ee0e7",
        "collection": "=Users",
        "documentId": "={{ $json.body[0].data.object.client_reference_id }}"
      },
      "id": "af306dd7-e6e0-456e-ad71-49e0b52dadc6",
      "name": "Google Cloud Firestore1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1360,
        700
      ],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "dVkHYUPuEEgK0vFd",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5c6b5b9f-3e35-445c-9041-02874dd528de",
        "options": {}
      },
      "id": "dd25f790-c0de-444f-be72-54cd1bb871e9",
      "name": "Only use if you need to manually add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1200,
        700
      ],
      "webhookId": "5c6b5b9f-3e35-445c-9041-02874dd528de"
    },
    {
      "parameters": {
        "events": [
          "checkout.session.completed"
        ]
      },
      "id": "3e2ef383-1d0f-41b4-88e4-9a674c1b6e31",
      "name": "Stripe Trigger1",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        520
      ],
      "webhookId": "62686c96-3c16-43e5-af72-29702b649bdb",
      "credentials": {
        "stripeApi": {
          "id": "n2arWIgQFA7gx3bc",
          "name": "Stripe account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Stripe Trigger": {
      "webhookId": "we_1NTayiICDiQqsVaF95GGDlDS",
      "webhookEvents": [
        "checkout.session.completed"
      ],
      "webhookSecret": "whsec_ED2uNEZoqR7sF85YLkRytPWvIHgXQKkc"
    },
    "node:Stripe Trigger1": {
      "webhookId": "we_1NXFxBICDiQqsVaFxTli1YBc",
      "webhookEvents": [
        "checkout.session.completed"
      ],
      "webhookSecret": "whsec_RXk2OHbkMJbep6JA1gvL8zJSDFhhlZZW"
    }
  },
  "tags": [
    {
      "id": "TQmydH8ud3GR1j5V",
      "createdAt": "2023-07-12T21:12:10.585Z",
      "updatedAt": "2023-07-12T21:12:10.585Z",
      "name": "my figures"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-07-24T04:01:02.032Z",
  "versionId": "ec717cc2-5179-47d6-9e15-f276f88663f3"
}